* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 13px;
  margin: 10px 20px;
}

.App footer a {
  text-decoration: none;
  color: white;
}

.App footer a:hover {
  text-decoration: underline;
}

body {
  font-family: arial, sans-serif;
  background: #905e63;
}

.search-button {
  border-radius: 30px;
  background: #e7d5d4;
}

button {
  display: block;
  background: #934662;
  color: white;
  font-size: 16px;
  padding: 6px 18px;
  border: 1px solid rgb(135, 135, 135);
  border-radius: 30px;
}

button:hover {
  background: #7e6d9e;
  color: white;
}

h1 {
  color: #934662;
  font-size: 35px;
  font-weight: 100;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 28px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
